name: CI

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]
  
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target environment (dev/prod)'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - prod

concurrency: one-deploy-at-a-time

env:
  AWS_REGION: us-east-1
  WORK_DIR: infrastructure
  TF_ENV: ${{ github.event.inputs.environment || github.ref == 'refs/heads/main' && 'prod' || 'dev' }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Install Terrafrom
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.2

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="backend/${TF_ENV}.hcl" \
            -reconfigure
        working-directory: ${{ env.WORK_DIR }}

      - name: Install and run tfsec
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          working_directory: infrastructure
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install tflint
        uses: terraform-linters/setup-tflint@v4

      - name: Run tflint
        run: tflint -f compact
        working-directory: ${{ env.WORK_DIR }}

      - name: Terraform Validate
        run: terraform validate
        working-directory: ${{ env.WORK_DIR }}

      - name: Terraform Format
        run: terraform fmt -check
        working-directory: ${{ env.WORK_DIR }}

      - name: Terraform Plan
        run: |
          terraform plan \
            -var-file="vars/${TF_ENV}.tfvars" \
            -out="plans/${TF_ENV}.tfplan"
        working-directory: ${{ env.WORK_DIR }}

      - name: Commit & Push TF plan
        uses: actions-js/push@v1.5
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref_name }}
          message: "tfplan changed"
